<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="flex container jsb">
        <strong>Blog-App</strong>
        <div class="flex">
          <a href="/" class="btn btn-pri">Home</a>
          <a href="/blogs/list" class="btn btn-pri">Blog List</a>
          <a href="/users/logout" class="btn btn-pri">logout</a>
        </div>
      </div>
    </header>
    <main>
      <section class="sec-padding">
        <div class="container hero-sec">
          <h2 class="text-center">Blog Create form</h2>
        </div>
      </section>
      <section class="sec-padding">
        <div class="container">
          <form action="/blogs/new" method="POST">
            <h3 class="text-center">Blog new</h3>
            <input type="text" placeholder="title" name="title" />
            <input type="text" placeholder="description" name="description" />
            <input type="number" placeholder="likes" name="likes" />

            <a href="#"
              ><button class="btn btn-pri" type="submit">Submit</button></a
            >
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
