<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="flex container jsb">
        <strong>Blog-App</strong>
        <div class="flex">
          <a href="/blogs/new" class="btn btn-pri">create Blog</a>
          <a href="/users/logout" class="btn btn-pri">Logout</a>
        </div>
      </div>
    </header>
    <main>
      <section class="sec-padding">
        <div class="container hero-sec">
          <h2 class="text-center">Blog home</h2>
        </div>
      </section>
      <section class="sec-padding flex center">
        <div class="container">
          <h3>Click here to go to list of blogs</h3>
          <a href="/blogs/list" class="btn btn-pri">Blogs List</a>
        </div>
      </section>
    </main>
  </body>
</html>
