<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="flex container jsb">
        <!-- <strong>Amazon</strong> -->
        <img class="logo" src="/images/logo.png" alt="logo" />
        <div class="flex">
          <a href="/users/register" class="btn btn-ter">Register</a>
          <a href="/users/login" class="btn btn-ter">Login</a>
        </div>
      </div>
    </header>
    <main>
      <section class="sec-padding">
        <div class="container hero-sec">
          <h2 class="text-center">Welcome to Ecommerce website</h2>
        </div>
      </section>
      <section class="sec-padding flex center">
        <div class="container">
          <h3>Welcome to amazon.com signin/register to continue</h3>
        </div>
      </section>
    </main>
  </body>
</html>
